[Unit]
Description=NiFi Cluster Prometheus Exporter
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /mnt/nifi_exporter/nifi_exporter.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
